extends ../layout

block content
    form(method="post", action="/post", enctype="x-www-form-urlencoded")
        h3 Create new post
        div
            label(for="title") Title
            input#title(type="title", name="title")
            label(for="body") Body
            textarea#body(type="body", name="body")
        input#submit(name="submit", type="submit", value="Create post")
