html5
html
    head
    title= pageTitle
body
    header
        h1= pageTitle
        h2
            a(href="/") Home
    section.login
        ul
            if user
                li
                    h2 Hello #{user}
                li
                    a(href="/logout") Logout
            else
                li
                    a(href="/login") Login
                li
                    a(href="/signup") Signup
    section.content
        block content
