html5
html
    head
    title= pageTitle
body
    header
        h1= pageTitle
    section.login
        ul
            if session && session.isLoggedIn
                li
                    a(href="/logout") Logout
            else
                li
                    a(href="/login") Login
                li
                    a(href="/signup") Signup
    section.content
        block content
