{
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "assert": false,
        "arguments": false
    },
    "rules": {
        "eqeqeq": 1,
        "curly": [1, "multi"],
        "quotes": [1, "single"],
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],

        // best practices
        "no-yoda": 0,
        "block-scoped-var": 2
    }
}
